body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.icon-hover:hover {
    cursor: pointer;
}
.footer {
    position: fixed;
    border-radius: 5px;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #67207C;
    text-align: center;
    font-size: 14pt;
    background-image: linear-gradient(to right, #94F642,#00FFFF,#CC99FF,#F480F4);
}
