@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  font-family: 'VT323', monospace;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-bars {
  color: #CC99FF;
  position: fixed;
  right: 0;
  margin: 1%;
  font-size: 24pt;
}
.menu-bars:hover {
  cursor: pointer;
}

.logo {
    width: 60%;
    max-width: 100%;
    height: auto;
    margin-top: 5%
}
@media only screen and (min-width: 1024px) {
    .logo {
        width: 30%;
        max-width: 100%;
        height: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        width: 45%;
        max-width: 100%;
        height: auto;
    }
}

.glow {
    -webkit-animation:Glow 7s infinite alternate;
    font-size: 3em;
}
@keyframes Glow {
    0% {text-shadow: 3px 1px #94F642;}
    20% {text-shadow: 3px 1px #00FFFF;}
    40% {text-shadow: 3px 1px #CC99FF;}
    60% {text-shadow: 3px 1px #F98309;}
    80% {text-shadow: 3px 1px #F480F4;}
    100% {text-shadow: 3px 1px #FCF738;}
}

.grid-item {
  background-color: white;
  border-radius: 10%;
  border: 5px solid green;
  padding: 25%;
  margin-bottom: 25%;
}
.event-image {
  width: 75%;
  height: auto;
}

h1 {
  font-size: 6em;
}
